<div class="control-group">
  <label for="name" class="control-label">name</label>
  <div class="controls">
    <%- contentTag('input', tempAuction.name, {type:'text', class:'span6', name:'name'}) %>
  </div>
</div>
<div class="control-group">
  <label for="currency" class="control-label">currency</label>
  <div class="controls">
    <%- contentTag('input', tempAuction.currency, {type:'text', class:'span6', name:'currency'}) %>
  </div>
</div>
<div class="control-group">
  <label for="price" class="control-label">price</label>
  <div class="controls">
    <%- contentTag('input', tempAuction.price, {type:'text', class:'span6', name:'price'}) %>
  </div>
</div>
