<div class="hero-unit">
  <h2>All TempAuctions</h2>
  <%- linkTo('Create a new TempAuction', addTempAuctionPath, {class: 'btn pull-right'}); %>
</div>

<div id="tempAuctions-list">
<% if (tempAuctions) { %>
<% for (var i = 0, ii = tempAuctions.length; i < ii; i++) { %>
  <div class="row list-item" id="tempAuction-<%= tempAuctions[i].id; %>">
    <div class="span8">
      <h3><%- linkTo(tempAuctions[i].name, tempAuctionPath(tempAuctions[i].id)); %></h3>
    </div>
    <div class="span4">
      <h3><i class="icon-list-alt"></i><%= tempAuctions[i].id; %></h3>
    </div>
  </div>
<% } %>
<% } %>
</div>